#about-us{
  background-color: #FAFAFA;
  .section-title{
    margin: 100px 0 64px 0;
    .container{
      .main-title{
        h5{
          font-size: 1.5rem;
          font-family: 'Ubuntu', sans-serif;
          font-weight: 300;
          color: #828282;
        }
        h1{
          font-size: 6rem;
          font-family: 'Ubuntu', sans-serif;
          color: #333;
          margin-top: 0;
          margin-bottom: 0.5rem;
          font-weight: 500;
          line-height: 1.2;

          @media (max-width: 991px) {
            font-size: 3rem;
          }
          @media (max-width: 419px) {
            font-size: 2.8rem;
          }
        }
      }
    }
    @media (max-width: 991px){
      margin: 5rem 0;
    }
  }
  .section-info{
    .container{
      .container-card{
        width: 100%;
        transition: ease 0.2s;
        .text-card{
          padding: 140px;
          background-color: #fff;
          font-family: 'Roboto', sans-serif;
          font-size: 1.5rem;
          color: #333;
          background-image: url(/Utilities/backround-card.png);
          background-position: right bottom;
          background-repeat: no-repeat;
          border-radius: 10px;
          box-shadow: 0px 6px 16px rgba(106, 106, 106, 0.25);

          @media (max-width: 768px) {
            padding: 50px;
          }

          p{
            margin-top: 0;
            margin-bottom: 1rem;
          }
        }
        
        &:hover{
          transform: scale(1.01);
          box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
  .section-team{
    margin-top: 10rem;
    .container{
      .container-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 3rem;
        margin: 0 5rem;
        gap: 2rem;
        
        @media (max-width: 991px){
          margin: 0;
        }

        @media (max-width: 503px) {
          gap: 1rem;
        }
      }
    }
  }
}