.project-detail {
  display: flex;
  flex-direction: row;
  margin-top: 85px;
  
  .project-thumbnail {
    width: 33.33%;
    padding: 0 1rem;

    a {

      img {
        min-width: 100%;
        max-width: 100%;
        border-radius: 10px;
        object-fit: cover;
        box-shadow: 0px 6px 16px rgba(106, 106, 106, 0.25);
        transition: ease 0.2s;

        &:hover {
          transform: scale(1.009);
          box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.25);
        }
      }
    }

    /* Media Thumbnail */
    @media (max-width: 991px) {
      width: 50%;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .contain-info {
    width: 33.33%;
    padding: 0 1rem;

    .project-title {
      font-size: 2.25rem;
      margin-bottom: 18px;

      a {
        color: #FFF;
        text-decoration: none;
      }
    }

    .project-description {
      font-family: 'Roboto', sans-serif;
      font-size: 1.125rem;
    }

    .project-buttons {
      display: flex;
      margin-top: 24px;

      .read-more {
        a {
          font-size: 1.125rem;
          margin-right: 24px;
          padding: 0.6rem 0.9rem;
          color: #606060;
          border-radius: 5px;
          background-color: #fff;
          box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.25);
          text-decoration: none;
          transition: ease 0.2s;

          &:hover {
            color: #FFF;
            background-color: #606060;
          }
        }
      }
      .see-all {
        a {
          font-size: 1.125rem;
          padding: 0.6rem 0.9rem;
          color: #FFFFFF;
          border: 1px solid rgba(255, 255, 255, 0.5);
          border-radius: 5px;
          background-color: transparent;
          text-decoration: none;
          transition: ease 0.2s;

          &:hover {
            background-color: #ffffff32;
          }
        }
      }
    }
    /* Media Info */
    @media (max-width: 991px) {
      width: 50%;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  /* Media Proyect Detail */
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}