#customer-single-page {
  background-color: #FAFAFA;
  font-family: 'Ubuntu', sans-serif;

  /* Section title */
  .section-title {
    color: #333;

    .container {
      .main-title {
        margin: 100px 0 64px 0;

        h1 {
          font-size: 6rem;
          font-weight: 500;
          margin: 0;

          @media (max-width: 991px) {
            font-size: 3rem;
          }

          @media all and (max-width: 768px) {
            margin-top: 0px;
          }
        }

        h5 {
          font-size: 1.5rem;
          font-family: 'Ubuntu', sans-serif;
          font-weight: 300;
          color: #828282;
        }

        /* Responsive margin title */
        @media (max-width: 991px) {
          margin: 5rem 0;
        }
      }
    }
  }

  /* Section post */
  .post-content {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    color: #333;

    .container {
      .contain-content {
        width: 100%;

        .customer-logo {
          display: flex;
          justify-content: center;
          margin: 0 0 1rem;

          img {
            max-height: 300px;
            max-width: 100%;
            vertical-align: bottom;
          }
        }

        p {
          margin-top: 0;
          margin-bottom: 1rem;
          white-space: pre-wrap;
        }

        .customer-page {
          display: flex;
          justify-content: center;
          margin: 0 0 1rem;

          img {
            height: auto;
            max-width: 100%;
            vertical-align: bottom;
          }
        }
      }
    }
  }

  /* Section tech */
  .tech-stack {
    margin-bottom: 115px;

    .container {
      .contain-tech {
        .tech-title {
          width: 100%;

          h2 {
            font-size: 3rem;
            font-family: 'Ubuntu', sans-serif;
            color: #333;
            font-weight: 500;
            margin-bottom: 0.5rem;
          }
        }

        .container-tech-card{
          display: flex;
          flex-direction: row;

          .tech-card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 33.33%;
            height: auto;
            margin: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 6px 16px rgba(106, 106, 106, 0.25);
  
            img {
              max-width: 100%;
              margin: 28px auto 10px auto;
            }
  
            p {
              text-align: center;
              font-family: 'Roboto', sans-serif;
              font-size: 0.875rem;
              color: #828282;
            }
  
            /* Responsive width card-tech */
            @media (min-width: 768px) {
              width: 16.66%;
            }
          }
        }
      }
    }
  }

  /* Section projects  */
  .highlighted-project {
    padding: 115px 0 115px 0;
    color: #FFFFFF !important;
    background: linear-gradient(90deg, #78a2a8 0%, #466872 100%);
    
    h2 {
      font-size: 3rem;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;

      @media (max-width: 991px) {
        font-size: 2.5rem;
      }
    }
  }
}