#our-way {
  background-color: #FAFAFA;
  font-family: 'Ubuntu', sans-serif;

  .primari-section {
    color: #333;

    .container {
      .main-title {
        margin: 100px 0 64px 0;

        h1 {
          font-size: 6rem;
          font-weight: 500;
          margin: 0;

          @media (max-width: 991px) {
            font-size: 3rem;
          }

          @media all and (max-width: 768px) {
            margin-top: 0px;
          }
        }

        h5 {
          font-size: 1.5rem;
          font-family: 'Ubuntu', sans-serif;
          font-weight: 300;
          color: #828282;
        }

        @media (max-width: 991px){
          margin: 5rem 0;
        }
      }

      .section-description {
        margin-bottom: 200px;

        h4 {
          font-size: 1.5rem;
          font-weight: 500;
        }

        @media all and (max-width: 768px) {
          margin-bottom: 50px;
        }
      }
    }
  }

  .process-steps {
    margin: 95px 0px 115px 0px;
  }

  .services-cards {
    margin-bottom: 200px;

    .container {
      .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));

        .container-dev-card {
          width: 50%;
          padding: 0 1rem;

          .dev-card {
            background-color: #598392;
            padding: 48px;
            border-radius: 10px;
            min-height: 370px;
            background-image: url(../../assets/background-develop.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
            transition: ease 0.2s;

            h2 {
              font-size: 3rem;
              color: #FFFFFF;
              font-weight: 500;
              margin-bottom: 48px;
            }

            h3 {
              font-size: 1.5rem;
              font-weight: 500;
              margin-bottom: 24px;
              color: #FFFFFF;
            }

            @media (max-width: 991px) {
              min-height: 300px;
              margin-bottom: 50px;

              h2 {
                font-size: 2rem;
              }

              h3 {
                font-size: 1.2rem;
              }
            }

            &:hover {
              transform: scale(1.02);
              box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.25);
            }
          }

          @media (max-width: 768px) {
            width: 100%;
          }
        }

        .container-design-card {
          width: 50%;
          padding: 0 1rem;

          .design-card {
            background-color: #EBC95C;
            color: #333;
            padding: 48px;
            border-radius: 10px;
            min-height: 370px;
            background-image: url(Assets/background-design.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
            transition: ease 0.2s;

            h2 {
              font-size: 3rem;
              color: #333;
              font-weight: 500;
              margin-bottom: 48px;
            }

            h3 {
              font-size: 1.5rem;
              font-weight: 500;
              margin-bottom: 24px;
            }

            @media (max-width: 991px) {
              min-height: 300px;
              margin-bottom: 50px;

              h2 {
                font-size: 2rem;
              }

              h3 {
                font-size: 1.2rem;
              }
            }

            &:hover {
              transform: scale(1.02);
              box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.25);
            }
          }

          @media (max-width: 768px) {
            width: 100%;
          }
        }

        @media (max-width: 768px) {
          flex-wrap: wrap;
        }
      }
    }
    @media (max-width: 991px){
      margin-bottom: 80px;
    }
  }

  .highlighted-project {
    padding: 115px 0 115px 0;
    color: #FFFFFF !important;
    background-image: url(Assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;

    .container {
      h2 {
        font-size: 3rem;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;

        @media (max-width: 991px) {
          font-size: 2.5rem;
        }
      }
    }
  }
}