#contact-us {
  background-color: #FAFAFA;
  font-family: 'Ubuntu', sans-serif;

  .section-title {
    color: #333;

    .main-title {
      margin: 100px 0 64px 0;

      h1 {
        font-size: 6rem;
        font-weight: 500;
        margin: 0;

        @media (max-width: 991px) {
          font-size: 3rem;
        }

        @media all and (max-width: 768px) {
          margin-top: 0px;
        }
      }

      h5 {
          font-size: 1.5rem;
          font-family: 'Ubuntu', sans-serif;
          font-weight: 300;
          color: #828282;
      }

      @media (max-width: 991px) {
        margin: 5rem 0;
      }
    }
  }
}
