#form-front {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;

  .fade-enter {
    transform: translateY(100%);
    opacity: 0;
  }
  
  .fade-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: opacity 300ms, transform 500ms;
  }
  
  .fade-exit {
    transform: translateY(0);
    opacity: 1;
  }
  
  .fade-exit-active {
    transform: translateY(-100%);
    opacity: 0;
    transition: opacity 300ms, transform 500ms;
  }

  form {
    div {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}
